{% extends "partials/base-modal.html" %}

{% block modal_title %}Add Group{% endblock %}

{% block modal_body %}
    <div class="mb-3 d-flex flex-column align-items-center gap-3">
    <button class="btn btn-outline-light w-100" data-bs-toggle="modal" data-bs-target="#createNewGroupModal" data-bs-dismiss="modal">Create a New Group</button>
    <button class="btn btn-outline-light w-100" data-bs-toggle="modal" data-bs-target="#joinExistingGroupModal" data-bs-dismiss="modal">Join an Existing Group</button>
    </div>
{% endblock %}

{% block modal_footer %}{% endblock modal_footer %}
