{% extends "partials/base-modal.html" %}

{% block modal_title %}Leave Group{% endblock %}

{% block modal_body %}
    <p class="text-center">
      <span class="smaller-text">
          Are you sure you want to leave {{ group.emoji }} <strong>{{ group.name }}</strong>
      </span>?
    </p>
{% endblock %}

{% block modal_footer %}
<div class="modal-footer">
    <form method="POST" action="{% url 'leave-group' group.code %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Leave</button>
    </form>
    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
</div>
{% endblock %}