{% extends "partials/base-modal.html" %}

{% block modal_title %}Create a New Group{% endblock %}

{% block modal_body %}
    <div class="d-flex flex-column align-items-center">
        <form method="POST" action="{% url 'create-new-group' %}" id="{{ modal_id }}Form">
          {% csrf_token %}
            <div class="d-flex flex-column gap-3">
              <label for="groupName" class="visually-hidden form-label tiny-text">Group Name:</label>
              <input placeholder="Group Name" type="text" class="input-box" id="groupName" name="name" required>
              <label for="groupEmoji" class="visually-hidden form-label tiny-text">Group Emoji:</label>
              <input placeholder="Group Emoji" type="text" class="input-box" id="groupEmoji" name="emoji">
            </div>
        </form>
    </div>
{% endblock %}
        
