<div class="modal fade" id="joinExistingGroupModal" tabindex="-1" aria-labelledby="joinExistingGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-dialog">
    <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="joinExistingGroupModalLabel">Join an Existing Group</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="d-flex flex-column align-items-center">
            <form method="POST" action="{% url 'join-existing-group' %}" id="joinExistingGroupForm">
              {% csrf_token %}
                <div class="d-flex flex-column gap-3">
                  <label for="groupCode" class="visually-hidden form-label tiny-text">Group Code:</label>
                  <input placeholder="Group Code" type="text" class="input-box" id="groupCode" name="code" required>
                </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-light" form="joinExistingGroupForm">Join</button>
        </div>

    </div>
  </div>
</div>
