{% extends "partials/side-menu.html" %}

{% block menu_content %}

<h6 class="mb-3">Group code</h6>    
    <span id="groupCode">{{ group.code }}</span>
    
    <h6 class="mt-5 mb-3">Members</h6>
    <ul id="memberList" class="list-group-flush pb-3">
        {% for member in members %}
            <li class="list-group-item d-flex justify-content-between align-items-center
                {% if current_payer and member == current_payer %}current-payer{% endif %}"
                data-member-id="{{ member.id }}">
                {{ member.user.username }}
            </li>
        {% empty %}
            <li class="list-group-item">No members yet.</li>
        {% endfor %}
{#        <li class="list-group-item d-flex justify-content-between align-items-center">#}
{#            +#}
{#        </li>#}
    </ul>
    <div class="mx-auto text-center w-75">
        {% if request.user == group.owner %}
            <button class="btn btn-outline-light mb-3 w-100">Change current payer</button>
            <button class="btn btn-outline-light mb-3 w-100">Reorder Queue</button>
            <button class="btn btn-outline-light mb-3 w-100">Group Settings</button>
        {% endif %}
    </div>
    
{% endblock menu_content %}
