{% extends "partials/side-menu.html" %}
{% block open-menu-button %}
    <div class="top-bar-item end-0 me-3 position-fixed">
        <button class="btn d-flex align-items-center justify-content-center" id="settingsToggle" style="height: 36px">
            <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#fff">
                <path d="M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z">
                </path>
            </svg>
        </button>
    </div>
{% endblock open-menu-button %}

{% block menu_content %}
    <h6 class="mb-3">Hello,</h6>
    <span id="groupCode" class="trimmed-text-shorter">{{ request.user.username }}</span>
    <div class="mx-auto text-center w-75 mt-3">
        <a href="{% url 'settings' %}" class="btn btn-outline-light mb-3 w-100">Settings</a>
        <a href="{% url 'account' %}" class="btn btn-outline-light mb-3 w-100">Account</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-light mb-3 w-100">Log Out</button>
        </form>
    </div>
    
{% endblock menu_content %}
