{% extends "partials/side-menu.html" %}

{% block menu_content %}
    <h6 class="mb-3">Hello,</h6>
    <span id="groupCode">{{ request.user.username }}</span>
    <div class="mx-auto text-center w-75 mt-3">
        <button class="btn btn-outline-light mb-3 w-100">Settings</button>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-light mb-3 w-100">Log Out</button>
        </form>
    </div>
    
{% endblock menu_content %}
