{% extends "partials/side-menu.html" %}

{% block open-menu-button %}
    <div class="top-bar-item end-0 me-3 position-fixed">
        <button class="btn d-flex align-items-center justify-content-center" id="settingsToggle" style="height: 36px">
            <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#fff">
                <path d="M479.91-160q-24.24 0-41.41-17.26-17.17-17.26-17.17-41.5t17.26-41.41q17.27-17.16 41.5-17.16 24.24 0 41.41 17.26 17.17 17.26 17.17 41.5t-17.26 41.4Q504.14-160 479.91-160Zm0-261.33q-24.24 0-41.41-17.26-17.17-17.27-17.17-41.5 0-24.24 17.26-41.41 17.27-17.17 41.5-17.17 24.24 0 41.41 17.26 17.17 17.27 17.17 41.5 0 24.24-17.26 41.41-17.27 17.17-41.5 17.17Zm0-261.34q-24.24 0-41.41-17.26-17.17-17.26-17.17-41.5t17.26-41.4Q455.86-800 480.09-800q24.24 0 41.41 17.26 17.17 17.26 17.17 41.5t-17.26 41.41q-17.27 17.16-41.5 17.16Z">
                </path>
            </svg>
        </button>
    </div>
{% endblock open-menu-button %}

{% block menu_content %}
{% include 'partials/confirm-leave-modal.html' with modal_id="confirmLeaveGroup" %}

<h6 class="mb-3">Group code</h6>    
    <span id="groupCode">{{ group.code }}</span>
    
    <h6 class="mt-5 mb-3">Members</h6>
    <ul id="memberList" class="list-group-flush pb-3">
        {% for member in members %}
            <li class="list-group-item d-flex justify-content-between align-items-center
                {% if current_payer and member == current_payer %}current-payer{% endif %}"
                data-member-id="{{ member.id }}">
                {{ member.user.username }}
            </li>
        {% empty %}
            <li class="list-group-item">No members yet.</li>
        {% endfor %}
{#        <li class="list-group-item d-flex justify-content-between align-items-center">#}
{#            +#}
{#        </li>#}
    </ul>
    <div class="mx-auto text-center w-75">
        {% if request.user == group.owner %}
{#            <button class="btn btn-outline-light mb-3 w-100">Change current payer</button>#}
{#            <button class="btn btn-outline-light mb-3 w-100">Reorder Queue</button>#}
            <a class="btn btn-outline-light mb-3 w-100"
                    href="{% url 'edit-group' group.code %}">
                Group Settings
            </a>
        {% endif %}
        
        <button class="btn btn-danger mb-3 w-100" 
                data-bs-toggle="modal" 
                data-bs-target="#confirmLeaveGroupModal">
            Leave Group
        </button>
        
    </div>
    
{% endblock menu_content %}
