{% block open-menu-button %}{% endblock open-menu-button %}

<div id="overlay" class="menu-overlay"></div>
    
<div id="settingsDrawer" class="settings-drawer text-white py-4 text-center">
    {% block menu_content %}{% endblock menu_content %}
</div>


<script>
document.addEventListener("DOMContentLoaded", () => {
    const drawer = document.getElementById("settingsDrawer");
    const toggleBtn = document.getElementById("settingsToggle");
    const overlay = document.getElementById("overlay");
    
    toggleBtn.addEventListener("click", () => {
        drawer.classList.toggle("open");
        overlay.classList.add("show");
    });

    overlay.addEventListener("click", () => {
        drawer.classList.remove("open");
        overlay.classList.remove("show");
    });
});
</script>
