{% extends "partials/side-menu.html" %}

{% block open-menu-button %}
    <div class="top-bar-item end-0 me-3 position-fixed">
        <button class="btn d-flex align-items-center justify-content-center" id="settingsToggle" style="height: 36px">
            <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#fff">
                <path d="M479.91-160q-24.24 0-41.41-17.26-17.17-17.26-17.17-41.5t17.26-41.41q17.27-17.16 41.5-17.16 24.24 0 41.41 17.26 17.17 17.26 17.17 41.5t-17.26 41.4Q504.14-160 479.91-160Zm0-261.33q-24.24 0-41.41-17.26-17.17-17.27-17.17-41.5 0-24.24 17.26-41.41 17.27-17.17 41.5-17.17 24.24 0 41.41 17.26 17.17 17.27 17.17 41.5 0 24.24-17.26 41.41-17.27 17.17-41.5 17.17Zm0-261.34q-24.24 0-41.41-17.26-17.17-17.26-17.17-41.5t17.26-41.4Q455.86-800 480.09-800q24.24 0 41.41 17.26 17.17 17.26 17.17 41.5t-17.26 41.41q-17.27 17.16-41.5 17.16Z">
                </path>
            </svg>
        </button>
    </div>
{% endblock open-menu-button %}

{% block menu_content %}
{% include 'partials/confirm-leave-group-modal.html' with modal_id="confirmLeaveGroup" %}

<h6 class="mb-3">Group code</h6>    
    <span id="groupCode">{{ group.code }}</span>
    
    <h6 class="mt-5 mb-3">Members</h6>
    <ul id="memberList" class="list-group-flush pb-3">
        {% for member in members %}
            <li class="list-group-item d-flex justify-content-between align-items-center
                {% if current_payer and member == current_payer %}current-payer{% endif %}"
                data-member-id="{{ member.id }}">
                {% if group.owner and member.user == group.owner  %}
                    <span class="trimmed-text-shorter text-start">{{ member.user.username }}</span>
                    <span class="badge bg-dark rounded-pill font-12 me-1">Owner</span>
                {% else %}
                    <span class="trimmed-text-longer text-start">{{ member.user.username }}</span>
                {% endif %}
            </li>
        {% empty %}
            <li class="list-group-item">No members yet.</li>
        {% endfor %}
{#        <li class="list-group-item d-flex justify-content-between align-items-center">#}
{#            +#}
{#        </li>#}
    </ul>
    <div class="mx-auto text-center w-75">

        {% if request.user == group.owner %}
{#            <button class="btn btn-outline-light mb-3 w-100">Change current payer</button>#}
            <button id="turnOnReorderBtn" class="btn btn-outline-light mb-3 w-100">Reorder Queue</button>
            <button id="saveReorderBtn" class="btn btn-outline-light mb-3 w-100 d-none">Save</button>

            <a class="btn btn-outline-light mb-3 w-100"
                    href="{% url 'edit-group' group.code %}">
                Group Settings
            </a>
        {% endif %}

        <button class="btn btn-danger mb-3 w-100"
                data-bs-toggle="modal"
                data-bs-target="#confirmLeaveGroupModal">
            Leave Group
        </button>
        
    </div>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", () => {
    function getCookie(name) {
        const cookies = document.cookie.split(';').map(c => c.trim());
        for (const cookie of cookies) {
            if (cookie.startsWith(name + '=')) {
                return decodeURIComponent(cookie.substring(name.length + 1));
            }
        }
        return null;
    }

    function restoreOriginalOrder() {
        const orderMap = {};
        [...list.children].forEach(li => {
            orderMap[li.dataset.memberId] = li; 
        });
    
        originalOrder.forEach(id => {
            list.appendChild(orderMap[id]);
        });
    }
    
    
    const turnOnReorderBtn = document.getElementById("turnOnReorderBtn");
    if (!turnOnReorderBtn) return;
    const saveReorderBtn = document.getElementById("saveReorderBtn");
    const list = document.getElementById("memberList");
    let sortable = null;
    let originalOrder = null;
    

    turnOnReorderBtn.addEventListener("click", () => {
        originalOrder = [...list.children].map(li => li.dataset.memberId);
        
        sortable = Sortable.create(list, { animation: 150 });
        
        saveReorderBtn.classList.remove("d-none");
        saveReorderBtn.classList.add("active");
        turnOnReorderBtn.classList.add("d-none");
    });
    
    saveReorderBtn.addEventListener("click", () => {
        sortable.destroy();
        sortable = null;
        
        const newOrder = [...list.children].map(li => li.dataset.memberId);
        const groupCode = document.getElementById("groupCode").textContent.trim();

        fetch(`/group/${groupCode}/reorder/`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            },
            body: JSON.stringify({ new_order: newOrder })
        });
        
        saveReorderBtn.classList.remove("active");
        saveReorderBtn.classList.add("d-none");
        turnOnReorderBtn.classList.remove("d-none");
    });

    const drawer = document.getElementById("settingsDrawer");
    const observer = new MutationObserver(() => {
        if (sortable && !drawer.classList.contains("open"))  {
            sortable.destroy();
            sortable = null;
            
            restoreOriginalOrder();
    
            saveReorderBtn.classList.remove("active");
            saveReorderBtn.classList.add("d-none");
            turnOnReorderBtn.classList.remove("d-none");
        }
    });
    observer.observe(drawer, { attributes: true, attributeFilter: ["class"] });
});
</script>
    
{% endblock menu_content %}
