{% extends "base.html" %}
{% load static %}
{%  block content %}
    
    {% include "partials/side-menu-groups.html" %}
    
    <div class="row row-cols-2 g-5 px-5 pt-5">
        {% for group in user_groups %}
            <div class="col d-flex flex-column align-items-center">
                <a href="{% url 'group-detail' group.code %}" class="text-decoration-none">
                    <div class="circle-box d-flex align-items-center justify-content-center">
                        <span class="bigger-text">{{ group.emoji }}</span>
                    </div>
                </a>    
                <span class="mt-1">{{ group.name }}</span>
            </div>
        {% endfor %}
        <div class="col d-flex flex-column align-items-center">
            <div class="dashed-circle-box d-flex align-items-center justify-content-center">
                <span class="bigger-text">+</span>
            </div>
        </div>
    </div>
{% endblock content %}
