{% extends "base.html" %}
{% load static %}

{%  block content %}
    {% include 'partials/back-button.html' %}

    <label class="top-bar-item start-50 translate-middle-x" style="height: 36px">{{ group.emoji }} {{ group.name }}</label>

    {% include "partials/side-menu-group-detail.html" %}

    <div class="row justify-content-center my-5">
    <div class="col-12 d-flex flex-column align-items-center text-center">
        <img id="payerImage" src="{% static 'whopays/images/can-pay.png' %}" class="big-circle-box">
        <button id="advance-turn-button" class="btn btn-outline-light mt-5 big-button"></button>
    </div>
    </div>


    <script>
    document.addEventListener("DOMContentLoaded", () => {
        function showPayingState(currentPayer) {
            const img = document.getElementById("payerImage");
            const btn = document.getElementById("advance-turn-button");
            if (currentPayer === currentUser) {
                img.src = "{% static 'whopays/images/can-pay.png' %}";
                btn.classList.remove("disabled");
                btn.disabled = false;
                btn.innerHTML = "ТРИНЬ-ТРИНЬ<br>ФІТЬ-ФІТЬ";
            } else {
                img.src = "{% static 'whopays/images/cannot-pay.png' %}";
                btn.classList.add("disabled");
                btn.disabled = true;
                btn.innerHTML = "ЧО ТИ<br>ПСІХУЄШ?";
            }
        }

        const currentUser = {{ current_user_member_id }};
        showPayingState({{ current_payer_id }});

        const code =  "{{ group.code }}";
        const ws = new WebSocket(
            (window.location.protocol === "https:" ? "wss://" : "ws://") +
            window.location.host +
            "/ws/groups/" + code + "/"
        );
        ws.onmessage = function (event) {
          const data = JSON.parse(event.data);
          if (data.type === "payer_changed") {
              showPayingState(data.current_payer_id);
          }
        };

        const btn = document.getElementById("advance-turn-button");

        btn.addEventListener("click", () => {
            if (btn.disabled) return;
            fetch("{% url 'api_advance_turn' group.code %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json"
                },
            });
        });
    });
    </script>
{% endblock content %}
