{% extends "base.html" %}
{% load static %}
{%  block content %}
    <div class="row row-cols-2 g-5 px-5">
        <div class="col d-flex flex-column align-items-center">
            <div class="circle-box d-flex align-items-center justify-content-center">
                <span class="bigger-text">☕</span>
            </div>
            <span class="mt-1">Coffee</span>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <div class="circle-box d-flex align-items-center justify-content-center">
                <span class="bigger-text">🌊</span>
            </div>
            <span class="mt-1">Team</span>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <div class="circle-box d-flex align-items-center justify-content-center">
                <span class="bigger-text">💘</span>
            </div>
            <span class="mt-1">Girls</span>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <div class="dashed-circle-box d-flex align-items-center justify-content-center">
                <span class="bigger-text">+</span>
            </div>
        </div>

    </div>
{% endblock content %}