{% extends "base.html" %}
{% load static %}

{%  block content %}
    {% include 'partials/back-button.html' %}

    <label class="top-bar-item start-50 translate-middle-x" style="height: 36px">{{ group.emoji }} {{ group.name }}</label>

    {% include "partials/side-menu-group-detail.html" %}

    <div class="row justify-content-center my-5">
    <div class="col-12 d-flex flex-column align-items-center text-center">
        <img id="payerImage" src="{% static 'whopays/images/can-pay.png' %}" class="big-circle-box">
        <button id="advance-turn-button" class="btn btn-outline-light mt-5 big-button"></button>
    </div>
    </div>


    <script>
    document.addEventListener("DOMContentLoaded", () => {
        function updateCurrentPayer(currentPayer) {
            showPayingState(currentPayer)
            highlightCurrentPayer(currentPayer)
        }

        function showPayingState(currentPayer) {
            const img = document.getElementById("payerImage");
            const btn = document.getElementById("advance-turn-button");
            if (currentPayer === currentUser) {
                img.src = "{% static 'whopays/images/can-pay.png' %}";
                btn.classList.remove("disabled");
                btn.disabled = false;
                btn.innerHTML = "ТРИНЬ-ТРИНЬ<br>ФІТЬ-ФІТЬ";
            } else {
                img.src = "{% static 'whopays/images/cannot-pay.png' %}";
                btn.classList.add("disabled");
                btn.disabled = true;
                btn.innerHTML = "ЧО ТИ<br>ПСІХУЄШ?";
            }
            btn.blur();
        }

        function highlightCurrentPayer(currentPayer) {
            document.querySelectorAll("#memberList li").forEach(li => {
                li.classList.remove("current-payer");
            });

            const el = document.querySelector(`#memberList li[data-member-id="${currentPayer}"]`);
            el.classList.add("current-payer");
        }

        function updateQueueOrder(newOrder) {
            const list = document.getElementById("memberList");

            const map = {};
            [...list.children].forEach(li => {
                map[li.dataset.memberId] = li;
            });

            newOrder.forEach(id => {
                if (map[id]) list.appendChild(map[id]);
            });
        }

        function addMemberToList(newMemberId, newMemberUsername) {
            const list = document.getElementById("memberList");

            const li = document.createElement("li");
            li.className = "list-group-item d-flex justify-content-between align-items-center";
            li.dataset.memberId = newMemberId;

            li.innerHTML = `
                <span class="trimmed-text-longer text-start">
                    ${newMemberUsername}
                </span>
            `;

            list.appendChild(li);
        }

        function removeMemberFromList(memberId) {
            console.log("id", memberId);
            const list = document.getElementById("memberList");
            const el = list.querySelector(
                `li[data-member-id="${memberId}"]`
            );
            console.log(el);
            el.remove();
        }

        const currentUser = {{ current_user_member_id }};
        updateCurrentPayer({{ current_payer_id }});

        const code =  "{{ group.code }}";
        const ws = new WebSocket(
            (window.location.protocol === "https:" ? "wss://" : "ws://") +
            window.location.host +
            "/ws/groups/" + code + "/"
        );
        ws.onmessage = function (event) {
          const data = JSON.parse(event.data);
          if (data.type === "payer_changed") {
              updateCurrentPayer(data.current_payer_id);
          }
          if (data.type === "queue_reordered") {
              updateQueueOrder(data.new_order)
          }
          if (data.type === "user_joined") {
              addMemberToList(data.new_member_id, data.new_member_username);
          }
          if (data.type === "member_left") {
              removeMemberFromList(data.member_id);
          }
        };

        const btn = document.getElementById("advance-turn-button");

        btn.addEventListener("click", () => {
            if (btn.disabled) return;
            fetch("{% url 'api_advance_turn' group.code %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json"
                },
            });
        });
    });
    </script>
{% endblock content %}
