{% extends "base.html" %}
{% load static %}
{%  block content %}
    <div class="row justify-content-center my-5">
        <div class="col-6">
            <img src="{% static 'whopays/images/Illustration1.png' %}" style="height: 200px">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-7">
            <div class="mb-3 input-box"></div>
            <div class="mb-3 input-box"></div>
            <div class="mb-3 input-box"></div>
        </div>
    </div>


{%  endblock content %}
