:root {
    --theme-color: black;
}

body {
    background-color: var(--theme-color);
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
}

.input-box {
    border: white 2px solid;
    height: 45px;
    border-radius: 16px;
    background-color: transparent;
    padding-left: 15px;
    width: 100%;
    font-size: 18px;
    color: white;
}

.input-box:focus {
    outline: none;
    /*box-shadow: 0 0 5px 2px #fff;*/
}

.input-box::placeholder {
  color: #eeeeee;
  opacity: 1;
}

.circle-box {
  border: 2px solid white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.dashed-circle-box {
    height: 120px;
    width: 120px;
    background-image: url('/static/whopays/images/dashed-circle.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.bigger-text {
  font-size: 40px;
}

.big-circle-box {
  height: 350px;
  width: 350px;
  border-radius: 50%;
}

.big-button {
    height: 150px;
    width: 220px;
    border: 2px white solid;
    border-radius: 24px;
    font-weight: bold;
    font-size: 24px;
}

.settings-drawer {
    position: fixed;
    top: 0;
    right: -66.66%;
    width: 66.66%;
    height: 100%;
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1050;
    background-color: var(--theme-color);
    border-left: 1px solid white;
}

.settings-drawer.open {
    right: 0;
}

#memberList {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
#memberList .list-group-item {
    padding-left: 1.5rem;
}

.current-payer {
    background-color: white !important;
    color: black !important;
    font-weight: bold;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1050;
}
.menu-overlay.show {
  opacity: 1;
  visibility: visible;
}

.link {
  font-size: 16px;
  color: white;
}

.link:hover {
  color: white;
  text-decoration: underline;
}

.text-danger.tiny-text {
    font-size: 12px !important;
}

.top-bar-item {
    top: 1rem;   /* consistent distance from top */
    position: absolute;
}