body {
    background-color: black;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
}

.input-box {
    border: white 2px solid;
    height: 45px;
    border-radius: 16px;
}

.circle-box {
  border: 2px solid white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.dashed-circle-box {
    height: 120px;
    width: 120px;
    background-image: url('/static/whopays/images/dashed-circle.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.bigger-text {
  font-size: 40px;
}

.big-circle-box {
  height: 350px;
  width: 350px;
  border-radius: 50%;
}

.big-button {
    height: 150px;
    width: 220px;
    border: 2px white solid;
    border-radius: 24px;
    font-weight: bold;
    font-size: 24px;
}
